name: Trigger auto deployment for example

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/example-AutoDeployTrigger-03b0345b-a6de-440b-8fba-712cc8fd09d8.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.EXAMPLE_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.EXAMPLE_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.EXAMPLE_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: viper.azurecr.io
          registryUsername: ${{ secrets.EXAMPLE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.EXAMPLE_REGISTRY_PASSWORD }}
          containerAppName: example
          resourceGroup: DefaultResourceGroup-SEAU
          imageToBuild: viper.azurecr.io/example:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


